@use 'variables';
@use 'buttons';
@use 'sass:color';

.add-game {
    width: 90%;
    margin: 0 auto;    
    margin-top: 8em;
    position: relative;

    .added-container {
        @include variables.flexContainer();
        gap: 1em;
        position: fixed;
        left: 0; 
        right: 0; 
        top: 0;
        bottom: 0;
        width: fit-content;
        height: fit-content;
        padding: 1em 2em;
        margin: auto;
        background-color: color.scale(variables.$secondary-bg, $lightness: 30%);
        border-radius: 0.5em;
        box-shadow: 4px 8px 6px variables.$shadow-color;
        z-index: 10;
        button {
            @include buttons.button($bg: variables.$secondary-bg,);
            padding: 1em 1.4em;
            align-self: center;
        }
    }

    .loading {
        @include variables.loader();
    }

    form {
        @include variables.flexContainer();
        gap: 2em;
        .teams {
            @include variables.oddListColor();
            @include variables.flexContainer(row);
            justify-content: space-between;
            padding: 1em;
            gap: 3em;
            
            .team-container {
                flex: 1;
                @include variables.flexContainer();
                gap: 1em;
            }
            .team-divider {
                height: 0.2em;
                background-color: variables.$font-color;
            }
        }
        .player-container {
            @include variables.flexContainer();
            gap: 1em;
        }

        .form-container {
            @include variables.flexContainer(row);
            justify-content: space-between;
            textarea, input {
                width: 40vw;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
        .toggle-team {
            @include buttons.button();
            background-color: variables.$secondary-bg;
            align-self: center;
        }
        .divider {
            height: 0.2em;
            width: 100%;
            background-color: variables.$font-color;
        }
        button {
            @include buttons.button();
            align-self: center;
            margin: 4em 0;
        }
    }
}

@media screen and (min-width: 786px) {
    .add-game {
        form {
            .teams {
                @include variables.flexContainer(row); 
                justify-content: space-between;
                gap: 1em;
                position: relative;
                height: 100%;
                .team-container {
                    flex: 1;
                }
                .team-divider {
                    width: 0.1em;
                    height: 500px;
                }
            }
            .form-container {
                textarea, input {
                    max-width: 200px;
                }
            }
        }
    }
}