@use 'variables';
@use "sass:color";


@mixin button($bg: variables.$button-color, $text-color: variables.$font-color) {
    background-color: $bg;
    color: $text-color;
    font-size: 1em;
    border: none;
    border-radius: 0.4em;
    font-weight: 500;
    padding: 0.8em 2em;
    transition: all 400ms;
    text-align: center;
    box-shadow: 4px 8px 6px variables.$shadow-color;
    cursor: pointer;
    &:hover {
        background: color.scale($bg, $lightness: 30%);
    }
}