@use 'variables';
@use 'sass:color';

.leaderboard-user {
    width: 100%;
    @include variables.flexContainer(row);
    justify-content: space-between;
    padding: 1em 0.9em;
    @include variables.oddListColor();
    @include variables.hoverLink();  
    
}