@use 'variables';

.user-games {
    @include variables.oddListColor();
    @include variables.hoverLink();
    .game-info {
        @include variables.flexContainer(row);
        justify-content: space-between;
        padding: 1em 0.9em;
        p {
            flex: 1;
        }
        img {
            transition: all 300ms;
        }
        .active {
            transform: rotateZ(45deg);
        }
    }
    .game-players {
        font-size: 0.8em;
        padding: 0 0 1em 1em;
        @include variables.flexContainer();
        gap: 0.4em;
        div {            
            @include variables.flexContainer(row);
            gap: 1em;
            flex-wrap: wrap;
        }
    }    
}