@use 'variables';

.user-games {
    @include variables.flexContainer(row);
    justify-content: space-between;
    padding: 1em 0.9em;
    p {
        flex: 1;
    }
    @include variables.oddListColor();
}