@use 'variables';
@use 'buttons';
@use 'sass:color';

.full-game {
    margin: 0 auto;
    margin-top: 8em;
    padding: 1em;
    width: 100%;

    .loading {
        @include variables.loader();
    }

    .game-container {
        @include variables.flexContainer();
        gap: 2em;

        .game-headline {
            @include variables.flexContainer(row);
            justify-content: space-between;
            .change-game {
                width: 2em;
                height: 2em;
                cursor: pointer;
            }
        }

        .game-info {
            @include variables.flexContainer(row);
            justify-content: space-between;
            padding: 0 1em;
            div {
                @include variables.flexContainer();
                gap: 0.4em;

                select, input {
                    width: clamp(30vw, 12em, 35vw);
                }
            }
            .image-container {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;

                .add-image {
                    @include variables.flexContainer();
                    gap: 1em;
                    p {
                        background-color: variables.$primary-bg;
                        font-size: 0.8em;
                        cursor: pointer;
                        transition: all 400ms;
                        box-shadow: 4px 4px 0px black;
                        padding: 0.4em;
                        &:hover {
                            color: color.scale(variables.$font-color, $blackness: 30%);
                            box-shadow: 2px 2px 0px color.scale(variables.$primary-bg, $lightness: 30%);
                        }
                    }
                }
            }
            .game-image {
                width: clamp(30vw, 12em, 35vw);
                box-shadow: 0 0 1em black;
            }
            #gameImageLabel {
                @include variables.selectDesign();
                background-color: color.scale(variables.$secondary-bg, $lightness: 30%);
                height: fit-content;
                cursor: pointer;
            }
        }

        .team-headline {
            border-bottom: 1px solid variables.$font-color;
        }

        .team-list {
            @include variables.flexContainer();
            .teams {
                @include variables.flexContainer();
                padding: 0.8em 0;
                gap: 0.6em;
                div {
                    padding: 0 1em;
                    @include variables.flexContainer(row);
                    justify-content: space-between;
                    gap: 0.6em;
                    input, textarea {
                        width: clamp(30vw, 12em, 35vw);
                    }
                }
            }
        }
        .button-container {
            @include variables.flexContainer(row);
            justify-content: space-around;
            gap: 2em;
            button {
                margin-top: 2em;
                max-width: 40vw;
                @include buttons.button();
                &:first-child {
                    background-color: rgb(160, 80, 80);
                }
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .full-game {
        max-width: 1000px;
        background-color: variables.$secondary-bg;
        
        .game-container {
            .game-info {
                div {
                    flex-direction: row;
                    gap: 1em;
                    p {
                        min-width: clamp(2vw, 5em, 10vw);
                    }
                    input, select {
                        width: clamp(7vw, 13em, 20vw);
                        font-size: 1em;
                    }
                }
                .game-image {
                    width: clamp(20vw, 20em, 35vw);
                }
            }
            .team-list {
                .teams {
                    div {
                        flex-direction: row;
                        gap: 2em;
                        input, textarea {
                            width: clamp(7vw, 13em, 20vw);
                            font-size: 1em;
                        }
                    }
                }
            }
            .button-container {
                margin-bottom: 2em;
            }
        }
    }
}