@use 'variables';
@use 'buttons';

.full-game {
    margin: 0 auto;
    margin-top: 8em;
    padding: 1em;
    width: 100%;

    .loading {
        @include variables.loader();
    }

    .game-container {
        @include variables.flexContainer();
        gap: 2em;

        .game-headline {
            @include variables.flexContainer(row);
            justify-content: space-between;
            .change-game {
                cursor: pointer;
            }
        }

        .game-info {
            @include variables.flexContainer(row);
            justify-content: space-between;
            padding: 0 1em;
            div {
                @include variables.flexContainer(column);
                gap: 0.4em;

                select, input {
                    min-width: 35vw;
                }
            }
        }

        .team-list {
            @include variables.flexContainer();
            gap: 1em;
            h3 {
                border-bottom: 1px solid variables.$font-color;
                padding-bottom: 1em;
            }
            .teams {
                @include variables.flexContainer();
                gap: 0.6em;
                div {
                    padding: 0 1em;
                    @include variables.flexContainer(row);
                    justify-content: space-between;
                    gap: 0.4em;
                    input, textarea {
                        max-width: 35vw;
                    }
                }
            }
        }
        .button-container {
            @include variables.flexContainer(row);
            justify-content: space-around;
            gap: 2em;
            button {
                margin-top: 2em;
                max-width: 40vw;
                @include buttons.button();
                &:first-child {
                    background-color: rgb(160, 80, 80);
                }
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .full-game {
        max-width: 1000px;
        background-color: variables.$secondary-bg;
        
        .game-container {
            .game-info {
                div {
                    flex-direction: row;
                    gap: 1em;
                    p {
                        min-width: clamp(2vw, 5em, 10vw)
                    }
                    input, select {
                        min-width: clamp(7vw, 13em, 20vw)
                    }
                }
            }
            .team-list {
                .teams {
                    div {
                        flex-direction: row;
                        gap: 2em;
                        input, textarea {
                            min-width: clamp(7vw, 13em, 20vw)
                        }
                    }
                }
            }
        }
    }
}