@use 'variables';

.gamelist {
    @include variables.flexContainer();
    gap: 1em;
    margin: 0 1em;
    margin-top: 8em;
    .loading {
        @include variables.loader()
    }
    h2 {
        font-size: 2em;
    }
    .stats {
        margin-top: auto;
    }
    .game-options {
        @include variables.flexContainer(row);
        justify-content: space-between;
        
        select {
            @include variables.selectContainer();
            width: 40vw;
            font-size: 1.2em;
        }
    }

    .headlines {
        @include variables.headlineContainer();
        position: relative;
        .info {
            cursor: pointer;
        }
        .info-box {
            position: absolute;
            right: 1em;
            top: 2em;
            background: variables.$secondary-bg;
            border: 1px solid variables.$font-color;
            padding: 1em;
            border-radius: 1em;
            box-shadow: 4px 8px 6px variables.$shadow-color;
        }
    }

    .games-list {
        @include variables.oddListColor();
    }
    
}

@media screen and (min-width: 786px) {
    .gamelist {
        .game-options {
           select {
                width: 20vw;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .gamelist {
        .game-options {
           select {
            font-size: 0.8em;
        }
        }
        .headlines {
            h3 {
                font-size: 1em;
            }
        }
    }
}