@use 'variables';
@use 'buttons';
@use "sass:color";

.landingpage {
    height: 100%;
    @include variables.flexContainer();
    align-items: center;
    justify-content: space-between;
    margin: 4em 0 2em 0;
    .loading {
        @include variables.loader();
    }
    img {
        height: 20vh;
    }

    h2 {
        font-size: 2em;
        margin-top: 1em;
    }

    .input-container {
        @include variables.flexContainer(); 
        label {
            font-size: 1.2em;
        }
        input {
            font-size: 1.2em;
            width: 80vw;
            height: 2em;
            border-radius: 0.4em;
            outline: none;
        }
        .error {
            color: variables.$error-color;
            text-align: center;
            margin-top: 1em;
        }
    }
    .sign-up {
        font-size: 0.8em;

        span {
            color: steelblue;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    p:last-of-type {
        color: color.scale(variables.$font-color, $blackness: 80%);
    }
    button {
        @include buttons.button();
        margin-top: 3em;
    }
    h3 {
        cursor: pointer;
    }
}

@media screen and (min-width: 786px) {
    .landingpage {
        input {
            max-width: 30vw;
        }
    }
}

@media screen and (max-width: 360px) {
    .landingpage {
        h2 {
            font-size: 1.6em;
        }
    }
}