$primary-bg: #1C242D;
$secondary-bg: #242F39;
$font-color: #FFFFFF;
$link-color: #529761;
$button-color: #488783;
$shadow-color: rgba(0, 0, 0, 0.25);

$primary-font: 'Roboto', sans-serif;
$header-font: 'Jost', sans-serif;
$box-shadow: 9px 10px 0px rgba(0, 0, 0, 0.34);
$mobile-card-width: 90vw;

%app-size {
    max-width: 70vw;
    margin: 0 auto;
}

@mixin flexContainer($dir: column) {
    display: flex;
    flex-direction: $dir;
}