$primary-bg: #f3f3f3;
$secondary-bg: #e6e4e4;
$font-color: #000000;
$adopted-color: #975252;
$continue-color: #358f4e;
$nav-color: #FFFFFF;
$hero-text-color: #dad0ee;
$primary-font: 'Roboto', sans-serif;
$header-font: 'Jost', sans-serif;
$box-shadow: 9px 10px 0px rgba(0, 0, 0, 0.34);
$mobile-card-width: 90vw;

%app-size {
    max-width: 70vw;
    margin: 0 auto;
}

%bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin flexContainer($dir: column) {
    display: flex;
    flex-direction: $dir;
}