@use './styles/variables';

html,
#root {
  width: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$primary-font;

  body {
    background-color: variables.$primary-bg;
    color: variables.$font-color;
    font-family: variables.$primary-font;
    display:flex;
    min-height: 100vh;
    
    .App {
        height: 100%;
        @include variables.flexContainer();
        justify-content: space-between;
    }
  }
}

@media screen and (min-width: 786px) {
  .App {
    max-width: 1000px;
    margin: 0 auto;
  }

}