@use './styles/variables';
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sulphur+Point:wght@300;400;700&display=swap');
html,
#root {
  width: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$primary-font;

  body {
    background-color: variables.$primary-bg;
    color: variables.$font-color;
    font-family: variables.$primary-font;
    display:flex;
    min-height: 100vh;
    
    .App {
        height: 100%;
        margin-bottom: 6em;
        @include variables.flexContainer();
        justify-content: space-between;
        h1, h2, h3 {
          font-family: 'Sulphur Point', sans-serif;
          font-weight: 700;
        }
    }
  }
}

@media screen and (min-width: 786px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {    
    background: color.scale(variables.$primary-bg, $lightness: 10%); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: color.scale(variables.$primary-bg, $lightness: 60%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: color.scale(variables.$secondary-bg, $lightness: 80%);
  }
  .App {
    max-width: 1000px;
    margin: 0 auto;
  }

}